* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.nav-brand-icon-con {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.nav-icon {
    font-size: 30px;
}

.nav-icon-con {
    align-self: center;
}


.hide {
    display: none;
}

.nav-links-con {
    display: flex;
    flex-direction: column;
}

.nav-links {
    font-size: 20px;
    font-family: 'Open sans';
    color: #594d6d;
    font-weight: 500;
    border-top: #e7e5ea solid 2px;
    padding: 20px;
    text-decoration: none;
}

.nav-btn {
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 25px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffdda9;
}

.startup-bg-con {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-sm-bg.png");
    min-height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-startup {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 44px;
    max-width: 400px;
    text-align: center;
}



@media screen and (min-width:768px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
    }

    .nav-icon-con {
        display: none;
    }

    .hide {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        border: 0;
        align-self: center;
        font-weight: bold;
        color: #12022f;
    }

    .startup-bg-con {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/landing-page-lg-bg.png');

    }
}