*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.box{
   display: flex;
    justify-content: center;
    align-items: center;
    padding:24px;
    color: #ffffff;
    font-size: 24px;
    font-family: Roboto,sans-serif;
}
.box1{
    background-color: #1abc9c;
    position: relative;
    left:20px;
    bottom: 20px;
}
.box2{
    background-color: #3498db;
    position: relative;
    left:20px;
    top: 20px;

}
.box3{
    background-color: #a15bb3;
}

