body{
    background-color: #191b1c;
}
.titles{
    font-size: 50px;
}
.card{
    text-align: center;
    align-items: center;
    color: #48abe0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #48abe0;
}
