body{
    margin: 0px;
}

.bg-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    border: 10px solid goldenrod;
}
.bg-container1{
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 10px solid goldenrod;
}

.box {
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", serif;
}
.box1 {
    background-color: #1abc9c;
    flex-grow: 1;
   height: 300px;
    flex-shrink: 1;

}

.box2 {
    background-color: #3498db;
    flex-grow: 1;
   height: 300px;
    flex-shrink: 1;
}

.box3 {
    background-color: #9b59b6;
    flex-grow: 1;
   height: 300px;
    flex-shrink: 1;
}