img{
    width: 250px;
    margin:5px;

}
@media screen and (min-width:600px){

    .image1{
        display: none;
    }
}
@media screen and (max-width: 599px){
    .image2{
        display: none;
    }
}