@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

.container-fluid {
    background-color: #FF7F7A;
}

.col-12 {
    margin-top: 20%;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
}

.text {
    font-size: 30px;
    font-family: "Bree Serif", serif;
    font-weight: bold;
}

.heading {
    color: #ffffff;
    text-align: center;
}

p {
    font-family: "Bree Serif", sans-serif;
    font-weight: bold;
}